.projects{
    background: linear-gradient(180deg,#8c3b3b 28%, #211059 80%);
    filter: contrast(100%);
}

.project-image {
    background: rgba(255, 255, 255, 0.1); /* 0.5 makes it 50% transparent */
}
