#projects{
    background: linear-gradient(132deg, rgba(0, 0, 0, 1) 0%, rgb(0, 51, 128) 50%, rgb(145, 48, 3) 100%);
    min-height: 100vh;
}

.project-image {
    background: rgba(255, 255, 255, 0.1); /* 0.5 makes it 50% transparent */
}
